/* Navbar */
.navbar {
  height: 80px;
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo */
.logo h2 {
  color: #2563eb;
  font-size: 2rem;
  cursor: pointer;
}

/* Navigation */
.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #1f2937;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}

/* Button */
.nav-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:hover {
  background: #1d4ed8;
}